body {
  font-family: Arial, Helvetica, sans-serif;
}

.transparencywWhiteBox {
  background-color: #f7f7f0;
  color: black;
  border-radius: 5px;
}

/* Buttons */
.btnLogin {
  background: #0fbcaf;
}
.btnLogin:hover {
  background: #0fa599;
}
.btnLogin:disabled {
  background: #87d4ce;
}
.btnLogin:focus {
  background: #90bfbb;
}

.btnSignup {
  background: #fcae1e;
}
.btnSignup:hover {
  background: #ce8d15;
}
.btnSignup:focus {
  background: #ddc087;
}

.btnBack {
  background: #e84343;
}
.btnBack:hover {
  background: #c63b3b;
}
/*  */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-modal {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.login-small-font {
  font-size: calc(1px + 2vmin);
}

@media (max-width: 575.98px) {
  .login-small-font {
    font-size: calc(1px + 2vmin);
  }
}

.pointer {
  cursor: pointer;
}

/* Backgrounds */
.registerBg {
  background: rgb(218, 241, 239);
  background: linear-gradient(0deg, rgba(218, 241, 239, 1) 0%, rgba(185, 228, 223, 1) 100%);
}

.loginBG {
  background-image: url("../public/background_loginpage.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
  min-height: 100vh;
}
.bg-color-1 {
  background-color: #f0f8ff !important;
}
.bg-color-2 {
  background-color: #faebd7 !important;
}
.bg-color-3 {
  background-color: #bce4d7ab !important;
}
.bg-color-4 {
  background-color: #f0ffff !important;
}
.bg-color-5 {
  background-color: #f5f5dc !important;
}
/*  */

/* verification modal */
#verificationModal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verificationModal > div {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

#codeInputContainer input {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px;
}

/*  */
.is-dragging {
  opacity: 0.5;
}

.folder-container {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 100px;
  margin: 10px;
  background-color: #f0f0f0;
  border: 2px dashed #ccc;
  border-radius: 5px;
}

.folder {
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  background-color: #87d4ce;
}
