.h1SmScreen {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 500% !important;
  margin-bottom: 3rem !important;
  margin-top: 1rem;
  text-shadow: 3px 4px 5px #000000c2;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .h1SmScreen {
    font-size: 400% !important;
  }
}
.transparencywWhiteBox {
  background-color: #f7f7f0;
  color: black;
  border-radius: 5px;
}

.buttonLogin {
  background: #0fbcaf !important;
}
.buttonLogin:hover {
  background: #0fa599 !important;
}
.buttonLogin:disabled {
  background: #87d4ce !important;
}

.btnSignup {
  background: #fcae1e !important;
}
.btnSignup:hover {
  background: #ce8d15 !important;
}

.btnBack {
  background: #e84343 !important;
}
.btnBack:hover {
  background: #c63b3b !important;
}

.registerBg {
  background: rgb(218, 241, 239);
  background: linear-gradient(0deg, rgba(218, 241, 239, 1) 0%, rgba(185, 228, 223, 1) 100%);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-modal {
  /* border: 1px solid #bdbdbd47; */
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.login-small-font {
  font-size: calc(1px + 2vmin);
}

@media (max-width: 575.98px) {
  .login-small-font {
    font-size: calc(1px + 2vmin);
  }
}

.loginBG {
  background-image: url("../public/background_loginpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

/*  */
.bg-color-1 {
  background-color: #f0f8ff !important;
}
.bg-color-2 {
  background-color: #faebd7 !important;
}
.bg-color-3 {
  background-color: #bce4d7ab !important;
}
.bg-color-4 {
  background-color: #f0ffff !important;
}
.bg-color-5 {
  background-color: #f5f5dc !important;
}
/*  */
